@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");


/*----------------------------- COMÚN A TODAS LAS PÁGINAS ---------------------------------*/
.fondo {
    background-image: url(../recursos/imagenes/patronFondo.jpg);
    background-size: cover;
}

.fondoLiso {
    background-color: #f8f8f8;
}

.fondoLisoColor {
    background-color: #283443;
}

#cajaContacto {
    margin-top: 2%;
    background: #50505a;
    color: #fff;
    width: 100%;
    padding: 1.5% 1% 1.5% 0;
    font-size: 22px;
    text-align: center;
}

.usuarioDropdown{
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.copy {
    font-size: 14px;
}

.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    background: none;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: rgba(0, 0, 0, .5);
    -webkit-transition: .35s;
    transition: .35s;
    font-weight: 500;
}

.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    color: #000;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #000;
}

.navbar .dropdown-menu a {
    color: rgba(0, 0, 0, .5);
    padding: 8px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dropdown-item:hover {
    color: black !important;
    text-decoration: none;
    background-color: transparent !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: black !important;
    text-decoration: none;
    background-color: transparent;
}

button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: #fff;
    height: 0px;
    width: 0px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: transparent;
    clear: both;
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    display: block;
    border: none;
    right: 50px;
    bottom: 75px;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    transition: all .3s ease-in-out;
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus {
    outline: 0 !important;
}

button.back-to-top::before {
    content: "\f077";
    font-family: "FontAwesome";
    display: block;
    margin: -5px 0 auto;
}

button.back-to-top.show {
    display: block;
    background: #fff;
    color: #50505a;
    font-size: 25px;
    right: 25px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}


.agrandar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.noFocus:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

a:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-info {
    background-color: red !important;
    color: #fff;
    box-shadow: none;
    margin: 0;
    border: 1px solid red !important;
    font-size: 16px;
}

.btn-info:hover {
    border: solid #000 1px !important;
    background-color: #fff !important;
    color: #000;
    box-shadow: none;
    margin: 0;
}

.btn-outline-info {
    color: #fff !important;
    background-color: #000 !important;
    border: 1px solid #000 !important;
    font-size: 16px;
}

.btn-outline-info:hover {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #000 !important;
}

.admin {
    color: white;
    border: 1px solid white !important;
    border-color: white !important;
}

.admin:hover {
    background-color: white !important;
    color: black !important;
}

/*----------------------------------- INDEX ----------------------------------*/
.titulo {
    margin-left: 12%;
    width: 75%;
    text-align: center;
    color: black;
    font-weight: 500;
}

.texto {
    margin-left: 5%;
    width: 90%;
    text-align: justify;
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.h2 {
    text-align: center;
}

.h5 {
    margin-bottom: 0%;
}

.carousel-caption {
    flex-wrap: wrap;
    width: 45%;
    position: absolute;
    left: 55%;
    top: 40%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    align-items: center;
}

.header-text {
    position: absolute;
    top: 30%;
    left: 10%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    padding: 10px;
}

.bonito {
    background-color: red;
    color: white;
}

.bonito:hover {
    background-color: black;
    color: red;
    border: 1px solid black;
}

.slider {
    display: flex;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    justify-content: space-around;
}


/*------------------------------- CONTACTO -------------------------------*/
.contacto {
    width: 100%;
    height: 98%;
    border-radius: 15px;
    margin-top: 5%;
    padding: 2% 8% 2.5% 2%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

@media handheld,
only screen and (max-width: 556px) {
    .campoDatos {
        width: 100%;
        padding: 15px 12px 8px 6px;
    }
}

@media handheld,
only screen and (min-width: 556px) {
    .campoDatos {
        width: 50%;
        padding: 15px 12px 8px 6px;
    }
}

.h3 {
    margin: 2% 0;
    padding-bottom: 10px;
    min-width: fit-content;
    width: 98%;
    color: black;
    border-bottom: 3px solid black;
}

.datosContacto::placeholder {
    font-size: 13px;
    color: rgb(126, 126, 126);
    padding: 5px;
}

.comentariosContacto {
    resize: none;
}

.botonBonitoContacto {
    min-width: fit-content;
    width: 40%;
    float: left;
    padding: 3%;
    margin-top: 4%;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: .25rem;
    background-color: #ec1f24;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

@media handheld,
only screen and (max-width: 556px) {
    .botonBonitoContacto {
        width: 60%;
    }
}

.botonBonitoContacto:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

#mapa {
    margin-top: 10%;
}

#ajax {
    box-sizing: border-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#ajax li {
    display: inline;
    padding: 1em;
}


/*----------------------------- RESERVA TALLER --------------------------------*/
.reserva {
    width: 98%;
    height: auto;
    padding: 2% 4% 2.5% 4.5%;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#titulo {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    color: black;
    border-bottom: 3px solid black;
}

.fieldsetTaller {
    width: 98%;
    position: relative;
    padding: 10px 20px 25px;
    margin: 3% 0;
    border-radius: 15px;
}

.botonBonitoTaller {
    width: 48%;
    height: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #ec1f24;
    color: white;
    cursor: pointer;
    transition: all .3s;
    position: relative;
}

.enviarTaller {
    background-color: #12a304;
}

.botonBonitoTaller:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

.selectMarca {
    width: 98%;
    padding: 10px;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

.selectMarca:focus {
    border-bottom: 2px solid black;
}

.datosReserva {
    width: 98%;
    padding: 5px;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

.datosReserva:focus {
    border-bottom: 2px solid black;
}

.datosReserva::placeholder {
    font-size: 13px;
}

.comentariosReserva {
    border-radius: 5px;
    width: 100%;
    resize: none;
    padding: 2%;
}

.comentariosReserva::placeholder {
    font-size: 15px;
}

#moto {
    width: 100%;
}

#datosPersonales {
    margin-top: 4%;
    width: 100%;
}

#datosCita {
    width: 100%;
    margin-top: 7%;
}

#comentariosTaller {
    width: 100%;
    margin-top: 7%;
}

#botonesTaller {
    margin-top: 5%;
    left: 17.5%;
    width: 65%;
    height: 60px;
    align-content: center;
    position: relative;
}


/*------------------------------ TIENDA Y CARRITO ---------------------------------*/
@media handheld,
only screen and (max-width: 575px) {
    #items {
        margin-left: 0.5%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media handheld,
only screen and (min-width: 576px) {
    #items {
        margin-top: 1%;
    }
}

h2.fuerte {
    font-weight: 500;
}

.card .card-body h5 {
    font-weight: 500;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: none;
}

.finalizarPago {
    min-width: fit-content;
    width: 90%;
    float: right;
    padding: 3% 3%;
    margin-top: 4%;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: .25rem;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all .3s
}

.finalizarPago:hover {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.finalizarPagoPeq {
    width: 40%;
}

@media handheld,
only screen and (max-width: 800px) {
    #infoProducto {
        position: fixed;
        top: 3%;
    }
}

@media handheld,
only screen and (min-width: 800px) {
    #infoProducto {
        position: fixed;
        top: 18%;
    }
}

.noHover:hover {
    transform: scale(1);
    cursor: default;
}

p.text-right {
    font-weight: bold;
}


/*-------------------------------- PAGO ---------------------------------*/
.form fieldset {
    border: none;
    padding: 0;
    padding: 10px 0;
    position: relative;
    clear: both;
}

.form fieldset.fieldset-expiration {
    float: left;
    width: 70%;
    margin-bottom: 5%;
}

.form fieldset.fieldset-expiration .select {
    width: 38%;
    margin-right: 2%;
    float: left;
}

.form fieldset.fieldset-ccv {
    clear: none;
    float: right;
    width: 23%;
}

.form fieldset label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Inconsolata;
}

.form fieldset input,
.form fieldset .select {
    width: 100%;
    height: 38px;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.form fieldset input.input-cart-number,
.form fieldset .select.input-cart-number {
    width: 22%;
    display: inline-block;
    margin-right: 2%;
}

.form fieldset input.input-cart-number:last-child,
.form fieldset .select.input-cart-number:last-child {
    margin-right: 0;
}

.form fieldset .select {
    position: relative;
}

.form fieldset .select::after {
    border-top: 8px solid #222;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: relative;
}

.form fieldset .select select {
    position: absolute;
    padding: 0;
    border: none;
    width: 100%;
    outline: none !important;
    top: 6px;
    left: 6px;
    background: none;
}

.form fieldset .select select :-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.form button {
    width: 100%;
    outline: none !important;
    text-transform: uppercase;
    font-weight: bold;
    min-width: fit-content;
}

/*--------- Checkout ---------*/
@media handheld,
only screen and (max-width: 900px) {
    .checkout {
        display: flexbox;
        justify-content: center;
        margin: 2.5%;
        position: relative;
        width: 80%;
        background: white;
        border-radius: 15px;
        padding: 0px 35px 30px 35px;
        box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    }
}

@media handheld,
only screen and (min-width: 900px) {
    .checkout {
        display: flexbox;
        justify-content: center;
        margin: 7% auto 0%;
        position: relative;
        width: 50%;
        background: white;
        border-radius: 15px;
        padding: 0px 35px 30px 35px;
        box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    }
}

/*-------- Tarjeta de Crédito --------*/
@media handheld,
only screen and (min-width: 1000px) {
    .credit-card-box {
        perspective: 1000;
        left: 5%;
        top: -50px;
        width: 90%;
        height: 220px;
        position: relative;
    }

    .credit-card-box:hover .flip,
    .credit-card-box.hover .flip {
        transform: rotateY(180deg);
    }

    .credit-card-box .front,
    .credit-card-box .back {
        width: 100%;
        height: 250px;
        border-radius: 15px;
        backface-visibility: hidden;
        background: linear-gradient(135deg, #bd6772, #53223f);
        position: absolute;
        color: #fff;
        font-family: Inconsolata;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    }

    .credit-card-box .front::before,
    .credit-card-box .back::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 250px;
        background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
        background-size: cover;
        opacity: 0.05;
    }

    .credit-card-box .flip {
        transition: 0.6s;
        transform-style: preserve-3d;
    }

    .credit-card-box .logo {
        position: absolute;
        top: 9px;
        right: 20px;
        width: 60px;
    }

    .credit-card-box .logo svg {
        width: 100%;
        height: auto;
        fill: #fff;
    }

    .credit-card-box .front {
        z-index: 2;
        transform: rotateY(0deg);
    }

    .credit-card-box .back {
        transform: rotateY(180deg);
    }

    .credit-card-box .back .logo {
        top: 185px;
    }

    .credit-card-box .chip {
        position: absolute;
        width: 60px;
        height: 45px;
        top: 20px;
        left: 20px;
        background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
        border-radius: 8px;
    }

    .credit-card-box .chip::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 4px solid rgba(128, 128, 128, .1);
        width: 80%;
        height: 70%;
        border-radius: 5px;
    }

    .credit-card-box .strip {
        background: linear-gradient(135deg, #404040, #1a1a1a);
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30px;
        left: 0;
    }

    .credit-card-box .number {
        position: absolute;
        margin: 0 auto;
        top: 103px;
        left: 19px;
        font-size: 36px;
    }

    .credit-card-box label {
        font-size: 10px;
        letter-spacing: 1px;
        text-shadow: none;
        text-transform: uppercase;
        font-weight: normal;
        opacity: 0.5;
        display: block;
        margin-bottom: 3px;
    }

    .credit-card-box .card-holder,
    .credit-card-box .card-expiration-date {
        position: absolute;
        margin: 0 auto;
        top: 180px;
        left: 19px;
        font-size: 22px;
        text-transform: capitalize;
    }

    .credit-card-box .card-expiration-date {
        text-align: right;
        left: auto;
        right: 20px;
    }

    .credit-card-box .ccv {
        height: 36px;
        background: #fff;
        width: 91%;
        border-radius: 5px;
        top: 110px;
        left: 0;
        right: 0;
        position: absolute;
        margin: 0 auto;
        color: #000;
        text-align: right;
        padding: 10px;
    }

    .credit-card-box .ccv label {
        margin: -25px 0 14px;
        color: #fff;
    }
}

@media handheld,
only screen and (max-width: 1000px) {

    .logo,
    .card-holder,
    .card-expiration-date,
    .ccv {
        display: none;
    }
}

#precio {
    width: 50%;
    margin-right: 0px;
}

.pagar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 0.3125rem;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden;
    transition: all .3s;

    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.pagar:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.pagar:active {
    color: black;
    background-color: #28a745;
}

.pagar:disabled {
    background-color: #9fd9ff;
    border: 1px solid #9fd9ff;
}

.pagar:disabled:hover {
    cursor: not-allowed;
    background-color: #9fd9ff;
    color: white;
    border: 1px solid #9fd9ff;
}

/*-------------------------------- MIS DATOS -----------------------------*/
#misDatos {
    width: 35%;
    margin-left: 3%;
    font-size: 20px;
}

#misVehiculos {
    width: 50%;
    margin-left: 47%;
}




/*-------------------------------- ADMIN ---------------------------------*/
.login-form {
    width: 100%;
    padding: 160px 35px 0;
    align-content: center;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.login-form input {
    font-size: 22px;
    padding: 0.5% 0 0.5% 3%;
}

.login-form input::placeholder {
    font-size: 16px;
}

.h1_admin {
    font-weight: bold;
    color: white;
}

.input_admin {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: white;
    width: 73%;
    padding: 0.4%;
    margin-bottom: 1%;
}

.login-admin {
    color: white;
    background-color: #409eff;
    border-color: #409eff;
    width: 73%;
    height: 40px;
    border-radius: 8px;
}

.login-admin:hover {
    color: white;
    background-color: #7fbbfa;
    border-color: #7fbbfa;
}

.center {
    margin-left: 22%;
}

.fondoLisoColor #response {
    text-align: center;
    margin-top: 3%;
    font-size: 18px;
    color: red;
}

.fondoLisoColor .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 16px;
}